<ul>
<li><a href="/logout"> salir </a></li>
<li><a href=<%= root_url %>> principal </a></li>
<li><a href="/document_types"> tipo de documentos </a></li>
<li><a href="/documents"> documentos </a></li>
</ul>
